.factory{
    border-style: groove;
    border-color: rgb(199, 199, 192);
    border-width: .3em;
    min-height: 400px;
    box-shadow: inset -2em 2em 2em black;
    max-width: 90%;
    background-image: url("/krzysztof-kowalik-djdoRnnKLyo-unsplash.jpg");
    background-size: cover;
    background-position: 50%;
}
.rnd-btn{
    margin:1em;
    width: 250px
}
